<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="20 seconds">
	
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    
    <logger name="com.rnr.letsbuy.controller" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="com.rnr.letsbuy.service" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    
 </configuration>