<!DOCTYPE html>
<html th:lang="${lang}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- if eclipse prompts with:
'character encoding text/html is not a legal character encoding' 
it is because the content attribute. k is intentionally put to avoid saving errors
-->
<!-- 	<meta charset="UTF-8" http-equiv="Content-Type" kontent=text/html> -->
	<meta charset="UTF-8" http-equiv="Content-Type"></meta>
	<title th:text="${product.id}? ${product.name}: 'New product'"></title>
<!-- 	<link rel="stylesheet" href="css/style.css"/> -->
<!-- 	<script src="js/app.js"></script> -->
	<div th:replace="fragments/header :: header-css"></div>
</head>
<body>
	
	<div th:replace="fragments/header :: header"></div>
	<div id="container">
		<div th:if="${product.id}">
			<div th:switch="${formStatus}">
				<h2 th:case="'create'">New Product</h2>
				<h2 th:case="'edit'">Edit Product</h2>
			</div>
			
			<section id="productPanel">
		
				<form class="form-horizontal" th:object="${product}" th:action="@{/product/save}" method="POST">
					<input type="hidden" th:field="*{id}"/>
					<label class="control-label">Name</label>
					<div class="">
						<input type="text" th:field="*{name}" placeholder="Type the name"/>
						<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="help-block">Name Error</span>
					</div>
					<label class="control-label">Price</label>
					<div class="">
						<input type="text" th:field="*{price}" placeholder="Type the price"/>
						<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:class="help-block">Price Error</span>
					</div>
					<button type="submit">Submit</button>
				</form>
			</section>
		</div>
		<div th:unless="${product.id}">
			Sorry! The product you tried to find does not exist.
		</div>
		<a th:href="@{/showproducts}" th:text="'Back to list'"></a>
	</div>
	<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>